@import url(https://fonts.googleapis.com/css?family=Lato:300);
body { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialised; }

html { font-size: 1em; line-height: 1.5; color: #fff; font-weight: 100; }

html, button, input, select, textarea { font-family: "Lato", sans-serif; color: #fcfcfc; }

::-moz-selection { background: #000; color: #ccc; text-shadow: none; }

::selection { background: #000; color: #ccc; text-shadow: none; }

body { max-width: 100%; margin-left: auto; margin-right: auto; background: #1d1f20; }
body:after { content: " "; display: block; clear: both; }

h1 { color: #fff; font-weight: 100;}
h2 { color: #D2D2D2; font-weight: 100; text-align: center; border-bottom: 1px solid #444; padding-bottom: 10px;}
ul { list-style: none;}
ul li { color: #fff; font-weight: 100;border-bottom: 2px solid #ff0000;}
ul li p { font-weight: 100; margin: 0; padding: 7px;}

.input { margin-top: 10px; }
.input input { color: #222; border: none; line-height: 2; font-size: 2em; padding: 10px; border-radius: 0.25em;  width: 100%;}
.input input:focus { border: none; outline: none; }
.forecast { text-align: center; }
.forecast .today { width: 50%; float: left; margin-left: 25%; margin-right: 25%; background: #1d1f20; margin-bottom: 100px; }
.forecast div:nth-child(2) { display: none; }
.forecast div:nth-child(3) { width: 33.33333%; float: left; background: #292c2d; }
.forecast div:nth-child(4) { width: 33.33333%; float: left; background: #27292b; }
.forecast div:last-child { width: 33.33333%; float: right; margin-right: 0; background: #242728; }
.forecast h3 { padding: 10px 0; }

.switch { position: absolute; top: 10px; right: 10px; font-size: 0.9em; padding: 5px; background: #292c2d }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}